body {
  background-color: #c1c5d6;
  font-family: sans-serif;
  color: #101118;
}

.app-wrapper {
  display: grid;
  grid-template-rows: 70px 1fr;
  grid-template-columns: 2.4fr 9.6fr;
  grid-gap: 10px;
  grid-template-areas: 
  "header header header"
  "nav contentText contentText";
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.app-reference {
  grid-area: contentText;
  margin: 0 0 5px 0;
  border-radius: 2px;
  box-shadow: 0 1px 0 0 #d7d8db, 0 0 0 1px #e3e4e8;
  background-color: #ebecf0;
}


