body {
  background-color: #c1c5d6;
  font-family: sans-serif;
  color: #101118;
}

.app-wrapper {
  display: grid;
  grid-template-rows: 70px 1fr;
  grid-template-columns: 2fr 10fr;
  grid-gap: 10px;
  grid-template-areas: 
  "header header header"
  "nav contentText contentText";
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}


