.appDialogs {
	display: grid;
	grid-template-columns: 3.2fr 8.8fr;
	height: 100%;
	position: relative;
}

.appDialogsMessages {
	padding: 10px 10px 100px 10px;
	margin-top: 10px;
}

.appDialogsItems {
	padding: 10px;
	margin-top: 10px;
}

.appDialogsMessagesTextarea {
	margin: 9px;
	border-radius: 6px;
	padding: 19px;
	background-color: #ebecf0;
	box-shadow: 0 1px 0 0 #d7d8db, 0 0 0 1px #e3e4e8;
	position: absolute;
	bottom: 11px;
	width: 79.5%;
	left: 10px;
}

.appDialogsMessagesSend {
	margin: 9px;
	border-radius: 6px;
	padding: 26px 19px 26px 19px;
	background-color: #ebecf0;
	position: absolute;
	bottom: 11px;
	width: 10%;
	right: 0;
}