.appDialogs {
	display: flex;
	flex-direction: column;
}

.appDialogsFriendAndMessages {
	display: grid;
	grid-template-columns: 3fr 9fr;
	height: 100%;
	position: relative;
}

.appDialogsMessagesSend {
	border: 0px solid #c1c5d6;
	color: #6c757d;
	width: 40px;
	background-color: white;
}

.appDialogsMessagesInput {
	padding: 10px 0 20px 5px;
	width: 600px;
	border: none;
	width: 99.6%;
	min-height: 35px;
}

.appDialogsForm {
	display: flex;
	position: absolute;
	bottom: 0;
	width: 100%;
}
