.cards {
  display: flex;
  flex-wrap: wrap;
  max-width: 900px;
  justify-content: flex-start;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1px;
  min-height: 57px;
  min-width: 57px;
  user-select: none;
}

.card:hover {
  cursor: pointer;
}