.appContentBlock {
	margin-top: 10px;
}

.appContentSend {
	display: flex;
	background-color: white;
	padding: 10px;
}

.appContentLetterInput {
	padding: 10px 0 20px 5px;
	width: 600px;
	border: none;
	width: 99.6%;
}


.appContentLetterSend {
	border: 0px solid #c1c5d6;
	color: #6c757d;
	width: 40px;
	background-color: white;
}

.appContentPosts {
	padding: 10px 0;
}

.appContentPostsTitle {
	font-weight: bold;
	color: black;
	padding: 4px 10px 12px 10px;
}
