.app-sistems {
    margin-top: 10px;
    display: inline-block;
    margin-left: 13px;
}

.app-sistems-items__item {
    display: flex;
    align-items: center;
}

.app-sistems__name {
    font-weight: bold;
}

.app-sistems-items__item-input {
    height: 20px;
    width: 20px;
}

.app-sistems-items__item {
    display: flex;
}