.header {
  align-items: flex-end;
  justify-content: space-between;
  display: flex;
}

.header h1 {
  /* width: 150px;
  height: 150px; */
  font-size: 26px;
}

.header h2 {
  font-size: 1.2rem;
  color: grey;
}