.appNav {
  grid-area: nav;
  background-color: #f2f2f2;
  display: flex;
  margin: 0 0 5px 0;
  padding: 20px 25px;
  flex-direction: column;
  border-radius: 2px;
  box-shadow: 0 1px 0 0 #d7d8db, 0 0 0 1px #e3e4e8;
}

.appNavImage {
  width: 17px;
  height: 17px;
  margin-right: 15px;
}

.appNavLink {
  display: inline;
  margin: 0 0 5px 0;
  padding: 10px;
  color: #101118;
  text-decoration: none;
  transition: opacity 0.3s ease-in-out;
  opacity: 1;
  border-radius: 4px;
  transition: background-color 0.05s ease-in-out;
}

.appNavLink:hover{
  background-color: rgba(74, 118, 168, 0.05);
  transition: background-color 0.05s ease-in-out;
}

@media (max-width: 767px) {
  .appNav {
    display: none;
  }
}