.app-content {
    grid-area: contentText;
    margin: 0 0 5px 0;
}

.app-content__avatar {
    width: 250px;
    margin-right: 10px;
    border-radius: 2px;
}

.app-content-avatarAndDescription {
    display: flex;
    padding: 15px;
}

.app-content__name {
    font-size: 19px;
}

.app-content__status {
    color: #939393;
    font-size: 13px;
    cursor: pointer;
}

@media (max-width: 767px) {
    .app-content__avatar {
        max-width: 175px;
    }
}