.appCard {
	min-width: 350px;
	background-color: gray;
	margin: 11.09px;
	background-color: #ebecf0;
	border-radius: 3px;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 14px 0 14px 0;
	justify-content: space-between;
}

.appCardTitle {
	font-weight: bold;
	margin-bottom: 13px;
	display: flex;
  justify-content: space-between;
}

.appCardTitle img {
	width: 15px;
	height: 15px;
	cursor: pointer;
}

.appCardPlus {
	margin-top: 10px;
	color: black;
	transition: 0.5s color ease-in-out;
}

.appCardContent {
	display: flex;
	flex-direction: column;
	width: 85%;
	padding: 10px;
}

.appCardNewTask {
	margin: 10px 0 10px 0;
}

.appCardPlus:hover {
	cursor: pointer;
	color: gray;
	transition: 0.3s color ease-in-out;
}

.appCardPlusImage {
	margin-right: 10px;
}

.appCardTaskItem {
	background-color: white;
	display: flex;
	flex-direction: column;
	padding: 20px;
	margin-top: 10px;
	opacity: 1;
	transition: 0.3s opacity ease-in-out;
}

.appCardTaskItem:hover {
	cursor: pointer;
	opacity: 0.7;
	transition: 0.3s opacity ease-in-out;
}

.appCardPlusActive {
	color: green;
	transition: 0.6s color ease-in-out;
}

.appCardPlusActive:hover {
	cursor: pointer;
}

.appCardTitleMode {
	width: 200px;
}

.appCardTitleMode input {
	padding: 5px 0 5px 0;
}

.appCardTitleModeSave {
	width: 80px;
  text-align: center;
  background-color: forestgreen;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 5px 8px 5px 8px;
  margin-top: 5px;
}

.appCardTitleModeCancel {
	margin-left: 12px;
  width: 80px;
  text-align: center;
  background-color: #cc0000;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 5px 8px 5px 8px;
  margin-top: 5px;
}

.appCardTitleModeSave:hover {
	cursor: pointer;
}

.appCardTitleModeCancel:hover {
	cursor: pointer;
}