.app-content {
    grid-area: contentText;
    margin: 0 0 5px 0;
}

.app-content__avatar {
    width: 300px;
    margin-right: 30px;
    border-radius: 2px;
}

.app-content-avatarAndDescription {
    display: flex;
    padding: 15px;
    align-items: flex-start;
}

.app-content__name {
    font-size: 19px;
}

.app-content__status {
    color: #939393;
    font-size: 13px;
    cursor: pointer;
}

.app-content__contacts {
    display: flex;
    flex-direction: column;
    margin: 30px 0 0 0;
}

.app-content__basis {
    display: flex;
    flex-direction: column;
    margin: 13px 0 0 0;
}

.app-content__basis div {
    font-size: 13px;
    font-weight: bold;
}

.app-content__basis span {
    color: #2a5885;
    font-size: 13px;
}

.app-content__basis span span{
    color: #828282;
    font-size: 13px;
    width: 165px;
    display: inline-block;
}

.app-content__contacts div {
    font-size: 13px;
    font-weight: bold;
}

.app-content__contacts span {
    color: #2a5885;
    font-size: 13px;
}

.app-content__contacts span span{
    color: #828282;
    font-size: 13px;
    width: 165px;
    display: inline-block;
}

@media (max-width: 767px) {
    .app-content__avatar {
        max-width: 175px;
    }
}