.appContent {
	grid-area: contentText;
	margin: 0 0 5px 0;
}

.appContentAvatarAndDescription {
	display: flex;
	padding: 15px;
	align-items: flex-start;
}

.appContentAvatar {
	width: 300px;
	margin-right: 30px;
	border-radius: 2px;
}

.appContentName {
	font-size: 19px;
}

.appContentStatus {
	color: #939393;
	font-size: 13px;
	cursor: pointer;
}

.appContentContacts {
	display: flex;
	flex-direction: column;
	margin: 30px 0 0 0;
}

.appContentBasis {
	display: flex;
	flex-direction: column;
	margin: 13px 0 0 0;
}

.appContentBasis div {
	font-size: 13px;
	font-weight: bold;
}

.appContentBasis span {
	color: #2a5885;
	font-size: 13px;
}

.appContentBasis span span {
	color: #828282;
	font-size: 13px;
	width: 165px;
	display: inline-block;
}

.appContentContacts div {
	font-size: 13px;
	font-weight: bold;
}

.appContentContacts span {
	color: #2a5885;
	font-size: 13px;
}

.appContentContacts span span {
	color: #828282;
	font-size: 13px;
	width: 165px;
	display: inline-block;
}

@media (max-width: 767px) {
	.appContentAvatar {
		max-width: 175px;
	}
}