.app-selects {
    margin: 10px 0 0 24px;
    display: inline-block;
    padding-bottom: 5px;
}

.app-selects-items__item {
    display: flex;
    align-items: center;
}

.app-selects__name {
    font-weight: bold;
}

.app-selects-items__item-input {
    height: 20px;
    width: 20px;
}

