.app-dialogs {
    display: grid;
    grid-template-columns: 2.5fr 9.5fr
}

.app-dialogs-messages {
    padding: 10px;
    margin-top: 10px;
}

.app-dialogs-items {
    padding: 10px;
    margin-top: 10px;
}