.app-dialogs {
    display: grid;
    grid-template-columns: 3.2fr 8.8fr
}

.app-dialogs-messages {
    padding: 10px;
    margin-top: 10px;
}

.app-dialogs-items {
    padding: 10px;
    margin-top: 10px;
}