.appStatus {
  color: #939393;
	font-size: 13px;
}

.appStatusEditor {
  color: #939393;
  font-size: 13px;
  border: 1px solid #d3d9de;
  border-radius: 2px;
  background-color: #fafbfc;
  box-shadow: 0 1px 3px rgba(0,0,0,.1);
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.appStatusEditor button {
  text-align: center;
  background-color: rgb(74, 118, 168);
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 5px 8px 5px 8px;
  margin-top: 10px;
}

.appStatusEditor input {
  padding: 5px 9px 5px 9px;
}

.appStatus:hover {
  cursor: pointer;
}