.formControl.error input, 
.formControl.error textarea {
  border-bottom: 1px double rgb(255, 102, 106);
}

.formControl.error span {
  position: absolute;
  color: rgb(255, 102, 106);
  bottom: 27%;
  right: 3%;
  font-size: 13px;
}

.formControl {
  width: 100%;
  position: relative;
}

.formControl textarea {
  resize: none;
}
