.settings {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.start {
  margin-top: 20px;
}

.image {
  width: 273px;
  margin-top: 9.5px;
  margin-bottom: 14px;
}